<nav class="navbar navbar-light bg-light justify-content-end">
  <a class="navbar-brand mr-auto" href="#" style="font-weight: bolder;">
    <img style="mix-blend-mode: darken;filter: contrast(65%);" src="assets/images/pointapp.png" height="35" class="d-inline-block align-top" alt="">
  </a>
</nav>

<div class="container-fluid" style="height: calc(100vh - 56px);margin-left: 1em;padding-bottom: 1em;">
  <div class="row">
    <div class="col-2 pl-0">
      <h3 class="text-white">LPR</h3>
    </div>
    <div class="col-2 pr-0">
      <h4 class="text-white" style="text-align: end !important;text-decoration: underline;">{{parkingCounter}} :רכבים בחניון</h4>
    </div>
  </div>
  <div class="row" style="display: flex;height: 48%;">
    <div class="col-4"
      style="background-color: #2f2f2f;max-height: 99% !important;overflow-y: scroll;padding: 20px 10px;border-right: 1px solid #3c3c3c;"
      id="logs-lpr">
      <div class="list-group">
        <a *ngFor="let l of logs1" class="list-group-item list-group-item-action log"><small><strong>{{l.timestamp | date: 'medium'}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ng-container *ngIf="l.data.laneNo[0] == '2'">רכב נכנס לחניון</ng-container>
            <ng-container *ngIf="l.data.laneNo[0] == '1'">רכב יצא מהחניון</ng-container>
          </small><img style="margin-left: 3em;"
            src="http://{{l.camera.host}}:{{l.camera.port}}/doc/ui/images/plate/{{l.data.picName[0]}}.jpg"
            width="120"></a>
        <a class="list-group-item list-group-item-action log"><small><strong>{{now | date:
              'medium'}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; מחובר לשרת בזמן אמת</small></a>
      </div>
    </div>
    <div class="col-8 p-0 justify-content-center" style="margin:auto;">
      <div class="row justify-content-center" style="margin:0px !important;position: relative;">
        <div id="ptz"></div>
        <!-- <video [ngStyle]="{'opacity': (streamReady ? '1': '0')}" style="width:45%;height:auto;" [srcObject]="stream1"
          [muted]="true" autoplay></video> -->
        <div class="parallelogramEnterance" [ngStyle]="{'opacity': (streamReady ? '1': '0')}">כניסה</div>
        <div class="parallelogramExit" [ngStyle]="{'opacity': (streamReady ? '1': '0')}">יציאה</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2 pl-0">
      <h3 class="text-white">PTZ</h3>
    </div>
  </div>
  <div class="row" style="display: flex;height: 48%;">

    <div class="col-4"
      style="background-color: #2f2f2f;max-height: 87% !important;overflow-y: scroll;padding: 20px 10px;border-right: 1px solid #3c3c3c;"
      id="logs-ptz">
      <div class="list-group">
        <a *ngFor="let l of logs2" class="list-group-item list-group-item-action log"><small><strong>{{l.timestamp |
              date: 'medium'}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ng-container
              *ngIf="l.event.EventNotificationAlert.DetectionRegionList[0].DetectionRegionEntry[0].regionID[0] == '1'">
              זוהתה תנועה במעבר חציה
            </ng-container>
            <ng-container
              *ngIf="l.event.EventNotificationAlert.DetectionRegionList[0].DetectionRegionEntry[0].regionID[0] == '2'">
              רכב עוקף/עומד בשוליים
            </ng-container>
            <ng-container
              *ngIf="l.event.EventNotificationAlert.DetectionRegionList[0].DetectionRegionEntry[0].regionID[0] == '3'">
              זוהתה תנועה במעבר חציה להולכי רגל
            </ng-container>
          </small></a>
        <a class="list-group-item list-group-item-action log"><small><strong>{{now | date:
              'medium'}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; מחובר לשרת בזמן אמת</small></a>
      </div>
    </div>
    <div class="col-8 p-0 justify-content-center" style="margin:auto;">
      <div class="row justify-content-center" style="margin:0px !important;position: relative;">
        <div id="lpr"></div>
        <div class="parallelogramCarCrosswalk" [ngStyle]="{'opacity': (streamReady ? '1': '0')}">שטח הארה</div>
        <div class="parallelogramCrosswalk" [ngStyle]="{'opacity': (streamReady ? '1': '0')}">מעבר חציה הולכי רגל</div>
        <div class="crosswalkBorder"></div>

        <div class="parallelogramMargins" [ngStyle]="{'opacity': (streamReady ? '1': '0')}">שוליים</div>
      </div>
    </div>
  </div>
</div>
<div class="lds-ripple" *ngIf="!streamReady">
  <div>
  </div>
  <div>
  </div>
</div>