.list-group > *{
    border-radius: 0px !important;
}

*{
  color: white !important;

    scrollbar-width: none;
 
}

.log{
    animation-name: animateLog;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    color: white;
    border: none !important;
}

@keyframes animateLog{
    from{opacity: gray;}
    to{background-color: transparent;}
}


.lds-ripple {
    display: inline-block;
    position: fixed;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    z-index: 10000;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  .parallelogramCrosswalk {
    background: rgba(255, 0, 0, 0.4);
    -webkit-clip-path: polygon(29.89% 148px, 88.05% 76.75%, 88.04% 97.1%, 114px 93.04%);
    clip-path: polygon(28.59% 121px, 87.89% 63.58%, 88.04% 100.51%, 83px 92.07%);
    position: absolute;
    top: 37%;
    left: 24%;
    text-align: start;
    font-size: 24px;
    height: 205px;
    width: 614px;
    line-height: 124px;
    padding-top: 4em;
    padding-left: 9em
  }

.parallelogramEnterance{ 
  background: rgba(6, 187, 0, 0.4);
  -webkit-clip-path: polygon(8.19% 25px, 27.67% 9.5%, 88.04% 65.64%, 198px 78.92%);
  clip-path: polygon(8.19% 25px, 27.67% 9.5%, 88.04% 65.64%, 198px 78.92%);
  position: absolute;
  top: 20%;
  left: 36%;
  text-align: start;
  font-size: 24px;
  height: 232px;
  width: 392px;
  line-height: 124px;
  padding-left: 5.5em;
  padding-top: 1.5em;
}

.parallelogramExit{ 
  background: rgba(242, 255, 0, 0.4);
  -webkit-clip-path: polygon(1.82% 35px, 29.96% 12.09%, 69.41% 80.73%, 92px 94%);
  clip-path: polygon(1.82% 35px, 24.6% 12.09%, 67.12% 79.87%, 92px 94%);
  position: absolute;
  top: 19%;
  left: 31%;
  text-align: start;
  font-size: 24px;
  height: 232px;
  width: 392px;
  line-height: 124px;
  padding-left: 4em;
  padding-top: 2em;
}

.parallelogramMargins{ 
  background: rgba(0, 214, 249, 0.4);
  -webkit-clip-path: polygon(79.45% 140px, -3.76% 37.7%, 25.16% 72.08%, 376px 78.35%);
  clip-path: polygon(76.14% 125px, 5.31% 34.26%, 31.76% 63.41%, 385px 65.14%);
  position: absolute;
  top: 20%;
  left: 25%;
  text-align: start;
  line-height: 130px;
  font-size: 24px;
  height: 253px;
  width: 432px;
  transform: rotate(-31deg);
  padding: 90px;
  padding-left: 8em;
  padding-top: 2.9em;
}

.parallelogramCarCrosswalk{
  background: rgba(0, 0, 0, 0.4);
  -webkit-clip-path: polygon(66.61% 57px, 96.79% 26.32%, 80.12% 84.18%, 15px 85.81%);
  clip-path: polygon(63.8% 60px, 96.79% 26.32%, 80.63% 82.02%, 41px 78.48%);
  position: absolute;
  top: 23%;
  left: 35%;
  text-align: end;
  font-size: 24px;
  height: 232px;
  width: 392px;
  line-height: 124px;
  padding: 4em;
  padding-top: 2.5em;
}

.crosswalkBorder{
  position: absolute;
  width: 2px;
  height: 110px;
  background: yellow;
  top: 60%;
  left: 33.7%;
  transform: rotate(55deg);
}

